* {
  color: white;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(34, 34, 34);
}

tr {
  display: table-row-group;
}


td {
  border-bottom: 1px solid #828282;
  font-size: smaller;
  padding: 20px;
}

th {
  background: #2e3035;
  border-right: 1px solid rgb(34, 34, 34);
  font-weight: 900;
  padding: 20px;
}

.filter {
  background-color: rgb(34, 34, 34);
  background-image: url('./images/Vector.png');
  background-position: 640px;
  background-repeat: no-repeat;
  border: 1px solid white;
  border-radius: 5px;
  font-size: large;
  height: 42px;
  margin: 40px 0;
  padding-left: 10px;
  width: 661px;
}

.App {
  border: 1px solid white;
  border-radius: 20px;
  margin: 20px;
  overflow: scroll;
  padding-bottom: 20px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
